body {
  margin: 0;
  font-family: Arial;
  background: #f2f6fc;
}

header {
  background: #004aad;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px 14px;
  background: #004aad;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0060df;
}
