body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #004aad;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

input {
  padding: 8px;
  margin: 5px;
  width: 260px;
}

button {
  padding: 8px 20px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0046c7;
}
